.article-container {
    display: flex;
    flex-direction: column;
}

.div-article {
    border-style: solid;
    border-radius: 5px;
    border-collapse: collapse;
    width: 95%;
    height: auto;
    transition: 1s;
}

.div-name {
    height: 20px;
    width: 150px;
}

.div-data {
    width: 250px;
    height: 20px;
}

.div-title {
    transform: translateX(45%);
}

.div-content {
    width: 95%;
    height: auto;
}

.div-comment {
    
}

textarea{
    width: 80px;
    height: 80%;
    resize: none;
    transition: 0.5s;
}

textarea:hover{
    height: 100px;
}

.div-Container-for-comments{
}

.comment{
    border-style: solid;
    border-color: #717171;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.div-Comment-Content{
}

.user-name{
    color: #191919;
 }