.div-element{
    position: relative;
    width: 70%;
    height: 200px;
    margin-top: 50px;
    margin-left: 50px;
}

.div-name{
    position: absolute;
    height: 20px;
    right: 50px;
    float: left;
    background-color: #2ecc71;
}

.div-data{
    float: left;
    width: 100px;
    height: 20px;
    margin-right: 5px;
    margin-top: 10px;
}

.div-title{
    clear: both;
    margin-left: 20%;
    margin-right: 20%;
}

.div-content{
    margin-top: 50px;
}