<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>addArticle</title>
    <link th:href="addArticle.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="box">
    <form action="/addArticle" method="post">
        <input type="text"
               id="title"
               placeholder="podaj tytul"
               th:required="required"
               name="title">

        <input type="text"
               id="content"
               placeholder="podaj tresc"
               th:required="required"
               name="content">

        <input type="date"
               id="relase"
               th:required="required"
               name="relase">

        <input type="submit" value="submit">
    </form>
</div>
</body>
</html>