<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" th:href="login.css" type="text/css"/>
    <!--href="login.css" to dla springa, "/static/login.css" to dla bracket -->
</head>
<body>
<div class="container">
    Eugenika (stgr. εὐγενής, eugenes, ’dobrze urodzony’) – pojęcie wprowadzone w 1869 przez Francisa Galtona[1],
    kuzyna Karola Darwina, które dotyczyło selektywnego rozmnażania zwierząt oraz ludzi, aby ulepszać gatunki z
    pokolenia na pokolenie, szczególnie jeśli chodzi o cechy dziedziczone. W ciągu następnych lat Galton poprawił
    swoją definicję, aby uwzględnić specyfikę eugeniki pozytywnej, zachęcającej do częstszego reprodukowania się
    najlepszych
    osobników oraz eugeniki negatywnej, zniechęcającej do reprodukcji osobników mniej wartościowych[2][3].

    Współcześnie jest to system poglądów zakładający możliwość doskonalenia cech dziedzicznych
</div>

<div class="box">
    <canvas>
    <form th:action="@{/login-process}" method="post">
        <h1>Login</h1>

        <input type="text"
               id="username"
               placeholder="Podaj login"
               th:required="required"
               name="username">

        <input type="password"
               id="password"
               placeholder="Podaj haslo"
               th:required="required"
               name="password">

        <input type="submit" value="login" name="">

        <br>
        <h4>If you not registred</h4>

    </form>

    <form th:action="@{/adduser}" method="post">
        <button class="button" style="vertical-align:middle" value="registred">
        <span>
            registred
        </span>
        </button>
    </form>
    </canvas>
</div>


</body>
</html>